.container-navbar.com-fundo {
    background-image: url("C:/Users/julia_busch/Desktop/3aFase-SENAI/joguinhoTop/joguinhoTop/src/assets/images/Fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;  
    height: 80px;
    padding: 11px 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    background-image: url("C:/Users/julia_busch/Desktop/3aFase-SENAI/joguinhoTop/joguinhoTop/src/assets/images/Fundo.png");
    background-repeat: no-repeat;
    background-size: cover; /* Para garantir que o fundo cubra toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    background-color: #ff6f00;
    height: 22vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-ComoJogar {
    background-color: #fffcf8;
    text-align: center;
    font-family: "Niramit", sans-serif;
    color: #fff;
}

.container-ComoJogar h1 {
    font-family: "Niramit", sans-serif;
    color: #FFDD00;
    font-size: 48px;
    margin-bottom: 1rem;
}

.container-ComoJogar p {
    font-size: 18px;
    margin-bottom: 2rem;
    color: #F9EAD7;
}

.passos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.passo h2 {
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
}

.passo p {
    font-size: 16px;
    color: #F9EAD7;
    max-width: 600px;
}

.botao-jogar {
    font-family: "Niramit-Bold", sans-serif;
    background-color: #FFDD00;
    color: #0f0f0f;
    padding: 12px 24px;
    border-radius: 3rem;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-bottom: 4rem;
}

.botao-jogar:hover {
    background-color: #FFD700;
}

.tutorial-jogo{
    padding: 2rem;
    width: 180vh;
    height: auto;
    display: flex;
    justify-content: center;
}